.main {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: rgb(42,100,157);
  background: linear-gradient(90deg, rgba(42,100,157,1) 0%, rgba(49,102,148,1) 48%, rgba(0,72,105,1) 100%);
  color: rgb(185, 185, 185);
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  overflow: hidden;
}

.sidebar-container {
  width: 100%;
  padding: 1rem;
  background-color: #12436D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .flex {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
}

.large-menu {
  display: none;
  flex-grow: 2;
}

.large-menu-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  width: 100%;
  padding: 1rem;
  background-color: #f8f9fa;
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .main {
    padding: 5rem;
  }
  .container {
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 10px;
  }
  .sidebar-container {
    width: 30%;
    .icon {
      display: none;
    }
  }
  .large-menu {
    display: block;
  }
  .content {
    width: 70%;
    min-height: 80vh;
  }
}