.main {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--color-base);
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
  overflow: hidden;
}

.sidebar-container {
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .flex {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
}

.large-menu {
  display: none;
  flex-grow: 2;
}

.large-menu-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  width: 100%;
  padding: 1rem;
  background-color: var(--content-background-color);
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .main {
    padding: 5rem;
  }
  .container {
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 10px;
  }
  .sidebar-container {
    width: 30%;
    .icon {
      display: none;
    }
  }
  .large-menu {
    display: block;
  }
  .content {
    width: 70%;
    min-height: 80vh;
  }
}