.navbar {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  align-self: start;
  font-size: 1rem;
  display: flex;
  justify-content: start !important;
  gap: 1rem;
  align-items: center;
  min-width: 100%;
}

.nav-link:hover {
  background-color: lightgray;
}

@media (min-width: 1024px) {
  .nav-link {
    font-size: 1.5rem;
  }
}